*.dll
*.exe
*.msi
*.exp
*.lib
*.obj
*.res
*.aps
*.clw
*.ncb
*.opt
*.plg
*.sdf
*.suo
*.vcxproj.user
*.opensdf

#doc
#hold
Debug
Release

Src/Backup
Inc/Backup

sp0256al2.pdf
sp0256al2.txt
sp0256al2.xml
mx.scratch
sp0256al2.cfg
sp0256al2.elf.cfg
